* { box-sizing: border-box; }

/* Thanks Solarized for nice colors
   https://ethanschoonover.com/solarized/
 */
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;

  --black: #262626;
  --red: #dc322f;
  --green: #859900;
  --yellow: #b58900;
  --blue: #268bd2;
  --magenta: #d33682;
  --cyan: #2aa198;
  --white: #e4e4e4;

  --bright-black: #1c1c1c;
  --bright-red: #d75f00;
  --bright-green: #585858;
  --bright-yellow: #626262;
  --bright-blue: #808080;
  --bright-magenta: #5f5faf;
  --bright-cyan: #8a8a8a;
  --bright-white: #ffffd7;

  --app-padding: 1rem;

  /* default dark */
  --background: var(--base03);
  --background-highlight: var(--base02);
  --body-text: var(--base0);
  --border-color: var(--base01);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--base3);
    --background-highlight: var(--base2);
    --body-text: var(--base00);
    --border-color: var(--base1);
  }
}

.ansi.bold { font-weight: bold; }
.ansi.dim { font-weight: lighter; }
.ansi.italic { font-style: italic; }
.ansi.underline { text-decoration: underline; }
.ansi.blink { }
.ansi.invert { } /* handled with color swaps below */
.ansi.hidden { }
.ansi.strikethrough { text-decoration: line-through; }
.ansi.understrike { text-decoration: underline line-through; }

.ansi.black, .ansi.bg-black.invert { color: var(--black)}
.ansi.red, .ansi.bg-red.invert { color: var(--red); }
.ansi.green, .ansi.bg-green.invert { color: var(--green); }
.ansi.yellow, .ansi.bg-yellow.invert { color: var(--yellow); }
.ansi.blue, .ansi.bg-blue.invert { color: var(--blue); }
.ansi.magenta, .ansi.bg-magenta.invert { color: var(--magenta); }
.ansi.cyan, .ansi.bg-cyan.invert { color: var(--cyan); }
.ansi.white, .ansi.bg-white.invert { color: var(--white); }
.ansi.default { color: var(--body-text); }
.ansi.bg-default.invert { color: var(--background); }

.ansi.bg-black, .ansi.black.invert { background-color: var(--black)}
.ansi.bg-red, .ansi.red.invert { background-color: var(--red); }
.ansi.bg-green, .ansi.green.invert { background-color: var(--green); }
.ansi.bg-yellow, .ansi.yellow.invert { background-color: var(--yellow); }
.ansi.bg-blue, .ansi.blue.invert { background-color: var(--blue); }
.ansi.bg-magenta, .ansi.magenta.invert { background-color: var(--magenta); }
.ansi.bg-cyan, .ansi.cyan.invert { background-color: var(--cyan); }
.ansi.bg-white, .ansi.white.invert { background-color: var(--white); }
.ansi.bg-default { background-color: var(--background); }
.ansi.default.invert { background-color: var(--body-text); }

.ansi.brightBlack, .ansi.bg-brightBlack.invert  { color: var(--bright-black)}
.ansi.brightRed, .ansi.bg-brightRed.invert  { color: var(--bright-red); }
.ansi.brightGreen, .ansi.bg-brightGreen.invert  { color: var(--bright-green); }
.ansi.brightYellow, .ansi.bg-brightYellow.invert  { color: var(--bright-yellow); }
.ansi.brightBlue, .ansi.bg-brightBlue.invert  { color: var(--bright-blue); }
.ansi.brightMagenta, .ansi.bg-brightMagenta.invert  { color: var(--bright-magenta); }
.ansi.brightCyan, .ansi.bg-brightCyan.invert  { color: var(--bright-cyan); }
.ansi.brightWhite, .ansi.bg-brightWhite.invert  { color: var(--bright-white); }

.ansi.bg-brightBlack, .ansi.brightBlack.invert  { background-color: var(--bright-black)}
.ansi.bg-brightRed, .ansi.brightRed.invert  { background-color: var(--bright-red); }
.ansi.bg-brightGreen, .ansi.brightGreen.invert  { background-color: var(--bright-green); }
.ansi.bg-brightYellow, .ansi.brightYellow.invert  { background-color: var(--bright-yellow); }
.ansi.bg-brightBlue, .ansi.brightBlue.invert  { background-color: var(--bright-blue); }
.ansi.bg-brightMagenta, .ansi.brightMagenta.invert  { background-color: var(--bright-magenta); }
.ansi.bg-brightCyan, .ansi.brightCyan.invert  { background-color: var(--bright-cyan); }
.ansi.bg-brightWhite, .ansi.brightWhite.invert  { background-color: var(--bright-white); }

html {
  background-color: var(--background);
  color: var(--body-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
}

body { margin: 0; }

a { color: var(--blue); }

code, pre, #gistContent {
  /* Nice font via: https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

code {
  display: block;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--background-highlight);
}

section + section {
  margin-top: 2rem;
}

.app {
  display: flex;
  justify-content: center;
  min-width: max-content;
  padding: var(--app-padding);
}

.instructions {
  margin: auto;
  max-width: 60rem;
  display: none;
}

#gistContent {
  min-width: min(calc(100vw - var(--app-padding) * 2), 60rem);
  border: 1px solid var(--border-color);
  flex-shrink: 0;
  white-space: pre;
  border-spacing: 0;
}

#gistContent:empty {
  display: none;
}

#gistContent .lineNumber {
  user-select: none;
  padding: 0 .4rem;
  background-color: var(--background-highlight);
  text-align: right;
}

#gistContent .line {
  padding: 0 1rem;
}

#gistContent:empty + .instructions {
  display: block;
}

#gistContent:empty ~ #controls {
  display: none;
}

#controls {
  position: fixed;
  bottom: 40px;
  right: 40px;
  user-select: none;
}

#controls .control {
  cursor: pointer;
}

.back { text-decoration: none; }
#controls:not([data-hash]) { display: none; }

#error {
  color: var(--red);
  margin: .25rem 0;
}

body:not([data-show-line-numbers]) .lineNumber {
  display: none;
}
