* { box-sizing: border-box; }

/* Thanks Solarized for nice colors
   https://ethanschoonover.com/solarized/
 */
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --red: #dc322f;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  --app-padding: 1rem;

  /* default dark */
  --background: var(--base03);
  --background-highlight: var(--base02);
  --body-text: var(--base0);
  --border-color: var(--base01);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--base3);
    --background-highlight: var(--base2);
    --body-text: var(--base00);
    --border-color: var(--base1);
  }
}

.red { color: var(--red); }
.green { color: var(--green); }
.blue { color: var(--blue); }
.cyan { color: var(--cyan); }
.reset { color: var(--body-text); }

html {
  background-color: var(--background);
  color: var(--body-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
}

body { margin: 0; }

a { color: var(--blue); }

code, pre, #gistContent {
  /* Nice font via: https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

code {
  display: block;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--background-highlight);
}

section + section {
  margin-top: 2rem;
}

.app {
  display: flex;
  justify-content: center;
  min-width: max-content;
  padding: var(--app-padding);
}

.instructions {
  margin: auto;
  max-width: 60rem;
  display: none;
}

#gistContent {
  min-width: min(calc(100vw - var(--app-padding) * 2), 60rem);
  border: 1px solid var(--border-color);
  flex-shrink: 0;
  white-space: pre;
  border-spacing: 0;
}

#gistContent:empty {
  display: none;
}

#gistContent .lineNumber {
  user-select: none;
  padding: 0 .4rem;
  background-color: var(--background-highlight);
  text-align: right;
}

#gistContent .line {
  padding: 0 1rem;
}

#gistContent:empty + .instructions {
  display: block;
}

#gistContent:empty ~ #controls {
  display: none;
}

#controls {
  position: fixed;
  bottom: 40px;
  right: 40px;
  user-select: none;
}

#controls .control {
  cursor: pointer;
}

.back { text-decoration: none; }
#controls:not([data-hash]) { display: none; }

#error {
  color: var(--red);
  margin: .25rem 0;
}

body:not([data-show-line-numbers]) .lineNumber {
  display: none;
}
